/*--------------------------------------------------------------
# variables
--------------------------------------------------------------*/
$primary-color: #000000;
$secondary-color: #F4A800;
$text-color: #ffffff;
